.actions {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	&_btn {
		width: 2.5rem;
		height: 2.5rem;
		position: relative;
		cursor: pointer;
		padding: 0.125rem;
		background-color: transparent;
		border: 0;
		img {
			transition: transform 0.2s;
			object-fit: cover;
			height: 100%;
		}
		&:hover {
			border: 2px solid $accent;
			box-shadow: $boxShadow;
			img {
				transform: scale(1.2);
			}
		}
	}
}
