.anim {
	grid-column: 2 / -2;
	border: 2px solid $primary-200;
	max-height: 16vh;
	width: 80%;
	margin-inline: auto;
	&_frameList {
		width: 100%;
		height: calc(100% - 1.5rem);
		gap: 1rem;
		display: flex;
		flex-direction: row;
		gap: 1rem;
		padding: 0.25rem 2rem;
		scrollbar-gutter: auto stable;
		overflow-x: scroll;
		scroll-behavior: smooth;
	}
	&_frame {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 3.5rem;
		width: 3.5rem;
		list-style: none;
		position: relative;
		flex-shrink: 0;
		border: 1px solid white;
		-webkit-optimize-contrast: pixelated;
		-ms-interpolation-mode: nearest-neighbor;
		image-rendering: crisp-edges;
		image-rendering: pixelated;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
		&-new {
			order: 1;
			background-image: none;
		}
		&.selected {
			border: 1px solid $accent;
		}
	}
	&_delete,
	&_duplicate {
		position: absolute;
		width: 1.3rem;
		height: 1.3rem;
		background-color: $primary-200;
		border: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		opacity: 0;
		transition: opacity 0.2s ease-in-out;
		image-rendering: auto;
		cursor: pointer;
		transition: background-color 0.2s;
		&:hover {
			background-color: $error;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
	&_frame:hover &_delete,
	&_frame:hover &_duplicate {
		opacity: 1;
	}
	&_delete {
		top: 0;
		left: 0;
	}
	&_duplicate {
		top: 0;
		right: 0;
		&:hover {
			background-color: $primary-200;
		}
	}
	&_new {
		width: 100%;
		height: 100%;
		font-size: 2rem;
		background-color: transparent;
		border: 0;
		color: white;
		cursor: pointer;
		transition: background-color 0.3s;
		&:hover {
			background-color: $accent;
		}
	}
	&_tools {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		height: 1.5rem;
		background-color: $primary-200;
		gap: 0.5rem;
		padding-inline: 0.5rem;
	}
	&_labelBtn {
		width: 1.5rem;
		height: 1.5rem;
		background-color: transparent;
		border: 1px solid white;
		color: white;
		cursor: pointer;
		transition: background-color 0.3s;
		&:hover {
			background-color: $accent;
		}
		img {
			width: 100%;
		}
	}
	&_checkbox {
		display: none;
	}
	&_checkbox + &_labelBtn {
		.active {
			display: none;
		}
		.inactive {
			display: inline-block;
		}
	}
	&_checkbox:checked + &_labelBtn {
		.active {
			display: inline-block;
		}
		.inactive {
			display: none;
		}
	}

	&_label {
		color: white;
	}
	// style input number
	&_fps {
		width: 2.6rem;
		padding-left: 0.2rem;
		border-radius: 0.25rem;
		border: 0;
		background-color: transparent;
		color: white;
		font-size: 1rem;
		cursor: pointer;
		transition: background-color 0.3s;
		&:hover,
		&:focus {
			// background-color: $accent;
			outline: 1px solid white;
		}
	}
}
