.colors {
	display: flex;
	flex-direction: column;
	align-items: center;
	&_radio {
		display: none;
	}
	&_label {
		height: calc(100% / 16);
		width: auto;
		aspect-ratio: 1 / 1;
		position: relative;
		cursor: pointer;
		&::after {
			content: '';
			position: absolute;
			inset: 2px;
			border: 1px solid white;
			background-color: var(--clr);
		}
	}
	&_radio:checked + &_label,
	&_label:hover::after {
		transform: scale(1.2);
		z-index: 2;
	}
}
