[helper] {
	position: relative;
	&::before {
		content: attr(helper-text);
		font-size: 0.8rem;
		color: white;
		position: absolute;
		top: 50%;
		left: 0%;
		transform: translate(calc(-100% - 5px), -50%);
		background-color: $accent;
		padding: 0.2rem 0.3rem;
		border-radius: 2px;
		opacity: 0;
		font-weight: bold;
		pointer-events: none;
		z-index: 2;
		white-space: nowrap;
	}
	&::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 0%;
		transform: translate(-100%, -50%);

		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 5px solid $accent;
		opacity: 0;
		pointer-events: none;
		z-index: 2;
	}
	&:hover::after,
	&:hover::before {
		opacity: 0.9;
		transition: opacity 0.2s;
	}
	&[helper-right] {
		&::before {
			top: 50%;
			left: 100%;
			transform: translate(calc(5px), -50%);
		}
		&::after {
			top: 50%;
			left: 100%;
			transform: translate(0%, -50%);
			border-top: 5px solid transparent;
			border-bottom: 5px solid transparent;
			border-left: 0;
			border-right: 5px solid $accent;
		}
	}
}

@keyframes helperAppear {
	from {
		opacity: 0;
	}
}
