.layers {
	color: white;
	outline: 1px solid $primary-200;
	width: 80%;
	&_title {
		border-bottom: 1px solid $primary-200;
		padding: 0.4rem;
	}
	&_list {
		height: 6rem;
		overflow-y: auto;
	}
	&_item {
		display: flex;
		align-items: center;
		gap: 0.2rem;
		padding: 0.2rem 0.4rem;
		list-style: none;
		margin-block: 0.2rem;

		cursor: pointer;
		&.selected {
			background-color: $accent;
		}
	}
	&_control {
		width: 100%;
		background-color: $primary-200;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		padding: 0.1rem;
		gap: 0.5rem;
		height: 1.5rem;
	}
	&_btn {
		height: 1rem;
		width: 1rem;
		display: inline-grid;
		text-align: center;
		line-height: 1;
		background-color: transparent;
		border: 1px solid white;
		cursor: pointer;
		color: white;
		transition: background-color 0.2s;
		&:hover {
			background-color: $accent;
		}
		img {
			width: 100%;
			height: 100%;
		}
	}
}
