.sizes {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1rem;
	margin-top: 3rem;
	&_radio {
		display: none;
	}
	&_label {
		width: 2rem;
		height: auto;
		aspect-ratio: 1 / 1;
		position: relative;
		cursor: pointer;
		& span {
			content: '';
			position: absolute;
			left: 50%;
			top: 50%;
			width: 50%;
			height: auto;
			aspect-ratio: 69 / 69;
			transform: translate(-50%, -50%);
			background-color: white;
		}
	}
	&_radio:checked + &_label {
		border: 2px solid $accent;
	}
}

@for $i from 1 to 9 {
	.sizes_label:nth-of-type(#{$i}) {
		& span {
			width: calc(15% + #{$i * 8%});
		}
	}
}
