.tools {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	&_radio {
		display: none;
	}
	&_label {
		height: calc(100% / 11 - 2px);
		width: auto;
		aspect-ratio: 1 / 1;
		position: relative;
		cursor: pointer;
		overflow: hidden;
		padding: 0.125rem;
		background-color: $primary-200;
	}
	&_label:hover {
		img {
			transform: scale(1.2);
		}
		border: 1px solid darken($accent, 10);
	}
	img {
		object-fit: cover;
		height: 100%;
	}
	&_radio:checked + &_label,
	&_label:hover::after {
		transform: scale(1.2);
		z-index: 2;
		border: 2px solid $accent;
	}
}
