* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
}

.main {
	height: 100%;
	background-color: black;
	display: grid;
	place-items: center;
}

sketch-app {
	/* border: 1px solid white; */
	font-size: 0;
	width: 50%;
	height: 90vh;
	overflow: hidden;
	position: relative;
	touch-action: none;
	background-color: #282828;
}
