* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html,
body {
	height: 100%;
	display: grid;
	background-color: #3f3e3e;
}

.main {
	/* height: 100%; */
	display: flex;
	justify-content: center;
	gap: 2rem;
	align-items: center;
}

.leftTools,
.rightTools {
	height: 80vh;
	display: flex;
	align-items: center;
	gap: 4rem;
}

.colors {
	display: grid;
	grid-template-rows: repeat(16, 1fr);
	list-style: none;
	height: 100%;
	aspect-ratio: 1 / 16;
}
.clr {
	width: 100%;
	position: relative;
}
.clr_radio {
	display: none;
}
.clr_label {
	flex: 1;
	position: absolute;
	inset: 0.1rem;
	transform-origin: center center;
	cursor: pointer;
}

input:checked ~ .clr_label {
	transform: scale(1.2);
	z-index: 10;
}
.tools {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 100%;
	flex-wrap: wrap;
	list-style: none;
	width: 100%;
}
.tool_radio {
	display: none;
}
.tool_label {
	display: inline-block;
	color: white;
	width: 2rem;
	aspect-ratio: 69 / 69;
	cursor: pointer;
	display: grid;
	place-items: center;
	background-color: transparent;
	border: 0;
	font-size: 1rem;
}

input:checked ~ .tool_label {
	outline: 1px solid white;
}

.size {
	justify-self: flex-start;
	display: flex;
	flex-direction: column;
	font-size: 0;
	gap: 0.2rem;
	list-style: none;
	justify-content: space-evenly;
	align-items: center;
	height: 80%;
}
.size_radio {
	display: none;
}
.size_label {
	display: block;
	border: 1px solid white;
	width: 1rem;
	height: auto;
	aspect-ratio: 69 / 69;
	cursor: pointer;
}

input:checked ~ .size_label {
	outline: 2px solid white;
}

sketch-app {
	/* border: 1px solid white; */
	grid-column: 2;
	font-size: 0;
	width: 50vw;
	height: 80vh;
	overflow: hidden;
	position: relative;
	background-color: #282828;
	touch-action: none;
}
